
/*
     FILE ARCHIVED ON 16:26:23 Nov 25, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:54:32 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 10401.109
  exclusion.robots: 0.125
  exclusion.robots.policy: 0.111
  RedisCDXSource: 49.429
  esindex: 0.011
  LoadShardBlock: 10332.207 (3)
  PetaboxLoader3.datanode: 10334.451 (4)
  load_resource: 110.804
  PetaboxLoader3.resolve: 84.784
*/