/* 
================================
 Container Styles for DotNetNuke
================================
.


/*-------------------------------------------------------------------------------*/
.actions{ width:10px;}
.clear									 { clear:both;}
.c_footer								 { padding-right:10px; text-align:right;}
.dnntitle 								 { padding-left:10px;}
.c_contentpane 							 { text-align:left; padding:2px 5px 0px 5px;}
.ModuleTitle_MenuContainer				 { width:100px!important;}


.Container-1 							 { margin:0 0 5px;  }
.Container-1 .dnntitle					 { white-space:nowrap;   padding:0px 0 15px;  text-align:center; }
.Container-1 .contentmain1				 { }
.Container-1 .contentpane				 { padding:5px 0px 0px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-1 .line						 { background-color:#ebebeb; width:33.3%; height:1px; margin:auto; overflow:hidden ; margin-top:30px;}
.Container-1 .line span					 { background-color:#3b9cf7; width:33.3%; height:1px; margin:auto; overflow:hidden; display:block}	
														 
.Container-2 							 {  margin:0 0 5px; }
.Container-2 .dnntitle					 { white-space:nowrap;  padding:0px 0px 20px; text-align:left; margin:0; border-bottom:1px solid #f2f2f2;} 
.Container-2 .contentmain1				 { }
.Container-2 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-2 .line		 				 { height:1px; overflow:hidden; width:33.3%; background:#3b9cf7; margin:-1px 0 20px;}

.Container-3 							 { margin-bottom:5px; }
.Container-3 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px 0px 15px; }
.Container-3 .contentmain1				 { padding:0px; }
.Container-3 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-4 							 { margin-bottom:5px; }
.Container-4 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px; margin-bottom:20px; text-align:center; position:relative;  }
.Container-4 .contentmain1				 { padding:0px; }
.Container-4 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-4 .dnntitle .line			 { width:100%; position:absolute; top:50%; height:1px; background-color:#e5e4e4; z-index:1}

.Container-5 							 { margin-bottom:5px; }
.Container-5 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px 0px 15px; margin-bottom:5px; border-bottom:1px solid #3b9cf7; position:relative;}
.Container-5 .dnntitle:before			 { content:""; width:11px; height:11px;	border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%; background-color:#3b9cf7; position:absolute; bottom:-5px ; left:0;}
.Container-5 .contentmain1				 { padding:0px; }
.Container-5 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-6 							 { margin-bottom:5px; }
.Container-6 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px; border-bottom:1px solid #3b9cf7; margin-bottom:15px; }
.Container-6 .contentmain1				 { padding-right:5px; }
.Container-6 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-7 							 { margin-bottom:5px; }
.Container-7 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px 0px 0px 15px; margin-bottom:10px; position:relative; z-index:1  ; border-left:2px solid #3b9cf7; }
.Container-7 .contentmain1				 { padding-right:5px;  position:relative; z-index:1 ; }
.Container-7 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-7 .ico_7						 { position:absolute; bottom:20px ; right:20px; z-index:0; }
.Container-7 .c_footer					 { position:relative ; z-index:10;}	

.Container-8 							 { margin-bottom:5px; }
.Container-8 .dnntitle					 { white-space:nowrap; padding:0;  margin-bottom:10px; position:relative; z-index:1  ; }
.Container-8 .contentmain1				 {  }
.Container-8 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-9 							 { margin:0 0 5px;  }
.Container-9 .dnntitle					 { white-space:nowrap;   padding:0px 0 15px;  text-align:center; }
.Container-9 .contentmain1				 { }
.Container-9 .contentpane				 { padding:5px 0px 0px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-10 							 { margin-bottom:5px; }
.Container-10 .dnntitle					 { white-space:nowrap; padding:0;  margin-bottom:10px; position:relative; z-index:1  ; text-align:center; }
.Container-10 .contentmain1				 {  }
.Container-10 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-11 							 { margin-bottom:5px; }
.Container-11 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px; margin:0px 0 15px; }
.Container-11 .contentmain1				 { padding:0 0 0 68px; }
.Container-11 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-11 .dnntitle img 			 { margin:8px 15px 0 0; vertical-align:top ; max-width:50px; }

.Container-12 							 { margin-bottom:5px; }
.Container-12 .dnntitle					 { white-space:nowrap; padding:0;  margin-bottom:10px; position:relative; z-index:1  ; text-align:center; }
.Container-12 .dnntitle:after			 { content:" "; width:45px; border-top:2px solid #616161; height:0; margin:14px auto 0; display:block; }
.Container-12 .contentmain1				 {  }
.Container-12 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-13 							 { margin-bottom:5px; }
.Container-13 .dnntitle					 { white-space:nowrap; padding:0; margin-bottom:35px; position:relative; background:url(/web/20161015213111im_/http://wadamtspoly.com.ng/images/container_bg.png) 0 center repeat-x; }
.Container-13 .contentmain1				 {  }
.Container-13 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-14 							 { margin:0 0 5px; }
.Container-14 .dnntitle					 { white-space:nowrap;  padding:0; text-align:center; margin:0; }
.Container-14 .dnntitle img              { display:block; margin:0 auto 20px; }
.Container-14 .contentmain1				 { }
.Container-14 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-14 .line		 				 { height:1px; width:70px; background:#3b9cf7; margin:-1px auto 30px; position:relative; z-index:1;}

.Container-15 							 { margin:0 0 5px; }
.Container-15 .dnntitle					 { white-space:nowrap;  padding:0; text-align:left; margin:0; }
.Container-15 .contentmain1				 { }
.Container-15 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-15 .line		 				 { height:1px; width:70px; background:#3b9cf7; margin:-1px 0 30px; position:relative; z-index:1;}

.Container-16 							 { margin:0; padding:60px 0; background:url(/web/20161015213111im_/http://wadamtspoly.com.ng/images/container16_bg.jpg) center center no-repeat; background-size:cover; color:#ffffff; }
.Container-16 .dnntitle					 { white-space:nowrap;  padding:0; text-align:center; margin:0; }
.Container-16 .dnntitle img              { display:block; margin:0 auto 20px; }
.Container-16 .contentmain1				 { }
.Container-16 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-16 .line		 				 { height:1px; width:70px; background:#3b9cf7; margin:-1px auto 30px; position:relative; z-index:1;}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.Container-16{ padding:40px 0; }
}
@media only screen and (max-width: 767px) {
	.Container-16{ padding:20px 0; }
}

.Container-17 							 { margin-bottom:5px; }
.Container-17 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px 0px 15px; }
.Container-17 .contentmain1				 { padding:0px; }
.Container-17 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-18 							 { margin-bottom:5px; }
.Container-18 .dnntitle					 { white-space:nowrap; text-align:left; padding:0; margin:0; }
.Container-18 .dnntitle .line            { width:50px; height:2px; background-color:#3b9cf7; display:block; margin:15px 0; }
.Container-18 .contentmain1				 { }
.Container-18 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-19 							 {  margin:0 0 5px; }
.Container-19 .dnntitle					 { white-space:nowrap;  padding:0; text-align:left; margin:0 0 20px; border-bottom:1px solid #d0d0d0;} 
.Container-19 .contentmain1				 { }
.Container-19 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-20 							 { margin:0 0 5px; }
.Container-20 .dnntitle					 { white-space:nowrap; padding:0; text-align:center; margin:0; } 
.Container-20 .contentmain1				 { }
.Container-20 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-20 .line                      { width:70px; height:1px; background-color:#3b9cf7; margin:30px auto; }
														 
.Container-H1 							 { margin-bottom:5px; }
.Container-H1 .dnntitle					 { padding:0px;}
.Container-H1 .contentmain			 	 { }
.Container-H1 .contentpane			 	 { padding:5px 0px 1px 0px; text-align:left; vertical-align:top; clear:both;       }

.Container-H2 							 { margin-bottom:5px; }
.Container-H2 .dnntitle					 { padding:0px;}
.Container-H2 .contentmain			     {}
.Container-H2 .contentpane			 	 { padding:5px 0px 1px 0px; text-align:left; vertical-align:top; clear:both;     }

.Container-H3 							 { margin-bottom:5px; }
.Container-H3 .dnntitle					 { padding:0px;}
.Container-H3 .contentmain				 { }
.Container-H3 .contentpane				 { padding:5px 0px 1px 0px; text-align:left; vertical-align:top; clear:both;     }



.title1{font-size:29px; line-height:1.2; color:#363839; white-space:normal; vertical-align:middle; font-weight:normal; padding:0px; margin:0px; }
.title2{font-size:28px; line-height:1.2; color:#363839; white-space:normal; vertical-align:middle; font-weight:normal; padding:0px; margin:0px; }
.title3{font-size:20px;line-height:1.2;color:#e5e5e5; white-space:normal; vertical-align:middle;  }
.title4{font-size:29px;line-height:1.2;color:#363839; white-space:normal; vertical-align:middle; display:inline-block ; padding:7px 27px ; margin:auto; border:1px solid #e5e4e4; background-color:#FFF; position:relative; max-width:60%; z-index:2  }
*+html .title4 {display:inline;}
.title4:before,
.title4:after{ content:""; position:absolute; top:50%; left:100%; width:20%; height:1px; background:#3b9cf7; overflow:hidden; margin:0px 1px; }
.title4:after{ left:auto; right:100%; }

.title5{font-size:20px; line-height:1; color:#363839; white-space:normal; background-color:#FFF; padding:4px 15px 5px 0; display:inline-block }
*+html .title5 {display:inline;}
.title6{font-size:22px; color:#2e2e2e; white-space:normal; padding:0px 0px 10px; vertical-align:middle; border-bottom:1px solid #3b9cf7; display:block; text-align:left; margin-bottom:2px; }
.title7{font-size:20px;line-height:1.2;color:#2e2e2e; white-space:normal; vertical-align:middle;  }
.title8{font-size:29px;line-height:1.2;color:#363839; white-space:normal; vertical-align:middle;  }
.title9{font-size:29px; line-height:1.2; color:#363839; white-space:normal; vertical-align:middle; font-weight:normal; padding:0px; margin:0px; }
.title10{font-size:29px;line-height:1.2;color:#3b9cf7; white-space:normal; vertical-align:middle;  }
.title11{font-size:29px; line-height:1; color:#363839; white-space:normal;  padding:0; display:inline-block; vertical-align:middle;}
*+html .title11 {display:inline;}
.title12{font-size:23px;line-height:1.2;color:#323232; white-space:normal; vertical-align:middle;  }

.title13{font-size:17px;line-height:25px;color:#ffffff; white-space:normal; vertical-align:middle; font-weight:bold; background-color:#3b9cf7;display:inline-block;padding:15px 22px; position:relative; text-transform:uppercase; }
.title13 span{font-size:14px;color:#3b9cf7;width:25px;height:25px;border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%;background-color:#ffffff;display:inline-block;text-align:center;margin-right:18px; }

.title13:before{
	content:"";
	position:absolute;
	top:0;
	right:-28px;
	border-style:solid;
    border-width:0 28px 28px 0;
    border-color:transparent transparent #3b9cf7 transparent;
}
.title13:after{
	content:"";
	position:absolute;
	top:28px;
	right:-28px;
	border-style:solid;
    border-width:28px 28px 0 0;
    border-color:#3b9cf7 transparent transparent transparent;
}

.title14{font-size:30px; line-height:1.2; color:#000000; white-space:normal; vertical-align:middle; font-weight:normal; padding:0px; margin:0px; display:inline-block; }
.Container-14 .title14,
.Container-15 .title14{ padding:0px 0px 24px; border-bottom:1px solid #cccccc;}
.Container-16 .title14{ color:#ffffff; padding:0px 0px 24px; border-bottom:1px solid #ffffff;}

.title15{font-size:30px;line-height:1.2;color:#f2f2f2; white-space:normal; vertical-align:middle;  }

.title16{font-size:20px;line-height:1.2;color:#dddddd; white-space:normal; vertical-align:middle;  }

.title17{font-size:24px; line-height:1.2; color:#000000; white-space:normal; vertical-align:middle; }
.Container-19 .title17{ border-bottom:1px solid #3b9cf7; display:inline-block; padding:0 0 20px; margin:0 0 -1px; }

.title18{font-size:24px; line-height:1.2; color:#333333; white-space:normal; vertical-align:middle; }




/*
     FILE ARCHIVED ON 21:31:11 Oct 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:13:23 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 81.95
  exclusion.robots: 0.067
  exclusion.robots.policy: 0.058
  cdx.remote: 0.053
  esindex: 0.008
  LoadShardBlock: 50.429 (3)
  PetaboxLoader3.datanode: 62.71 (4)
  load_resource: 123.619
  PetaboxLoader3.resolve: 94.404
*/