
/*
     FILE ARCHIVED ON 22:01:14 Oct 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:31:48 Jun 21, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 86.838
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.055
  cdx.remote: 0.058
  esindex: 0.01
  LoadShardBlock: 53.611 (3)
  PetaboxLoader3.datanode: 64.928 (4)
  load_resource: 2171.82
  PetaboxLoader3.resolve: 1814.865
*/