
/*
     FILE ARCHIVED ON 16:26:23 Nov 25, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:39:22 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 110.494
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.058
  cdx.remote: 0.057
  esindex: 0.009
  LoadShardBlock: 84.152 (3)
  PetaboxLoader3.resolve: 125.054 (2)
  PetaboxLoader3.datanode: 50.102 (4)
  load_resource: 104.754
*/