
/*
     FILE ARCHIVED ON 16:26:23 Nov 25, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:44:30 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 135.017
  exclusion.robots: 0.102
  exclusion.robots.policy: 0.093
  cdx.remote: 0.057
  esindex: 0.007
  LoadShardBlock: 110.891 (3)
  PetaboxLoader3.datanode: 124.188 (4)
  load_resource: 842.92
  PetaboxLoader3.resolve: 749.27
*/