.c_container{padding-bottom:15px; overflow:hidden;}
/*---------- To align the Actions, Icon and Title ---------*/
.c_icon, .c_actions, h2.c_title{float:left;}
.c_icon img {float:left; padding-right:4px;}
h2.c_title{margin:10px 0; padding:0;}
.icn img{margin-right:5px;}

.title_vis{float:right;}

.c_content{clear:both;}
.c_contentpane{padding:8px 0 0 0;}
.c_footer {clear:both;margin-bottom:20px;padding:0; text-align:right;}

/*---------- default style for head & normal -----------*/
.Normal p{margin-top:0px;}

/*---------- For the inline edit icons -----------*/
.eipbackimg {background-color:#DAE7F2;border:solid 1px #4F839F;}
.c_content .eipbackimg {margin-top:0;margin-left:-20px;}



.actions{ width:10px;}
.clear									 { clear:both;}
.c_footer								 { padding-right:10px; text-align:right;}
.dnntitle 								 { padding-left:10px;}
.c_contentpane 							 { text-align:left; padding:2px 5px 0px 5px;}
.ModuleTitle_MenuContainer				 { width:100px!important;}


.Container-1 							 { margin:0 0 5px;  }
.Container-1 .dnntitle					 { white-space:nowrap;   padding:0px 0 15px;  text-align:center; }
.Container-1 .contentmain1				 { }
.Container-1 .contentpane				 { padding:5px 0px 0px 0px; text-align:center; vertical-align:top; clear:both; }
.Container-1 .line						 { background-color:#ebebeb; width:33.3%; height:1px; margin:auto; overflow:hidden ; margin-top:30px;}
.Container-1 .line span					 { background-color:#3b9cf7; width:33.3%; height:1px; margin:auto; overflow:hidden; display:block}	
														 
.Container-2 							 {  margin:0 0 5px; }
.Container-2 .dnntitle					 { white-space:nowrap;  padding:0px 0px 20px; text-align:left; margin:0; border-bottom:1px solid #f2f2f2;} 
.Container-2 .contentmain1				 { }
.Container-2 .contentpane				 { padding:5px 20px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-2 .line		 				 { height:1px; overflow:hidden; width:33.3%; background:#3b9cf7; margin:-1px 0 20px;}

.Container-3 							 { margin-bottom:5px; }
.Container-3 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px 0px 15px; }
.Container-3 .contentmain1				 { padding:0px; }
.Container-3 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-4 							 { margin-bottom:5px; }
.Container-4 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px; margin-bottom:20px; text-align:center; position:relative;  }
.Container-4 .contentmain1				 { padding:0px; }
.Container-4 .contentpane				 { padding:5px 0px 3px 0px; text-align:center; vertical-align:top; clear:both; }
.Container-4 .dnntitle .line			 { width:100%; position:absolute; top:50%; height:1px; background-color:#e5e4e4; z-index:1}

.Container-5 							 { margin-bottom:5px; }
.Container-5 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px 0px 15px; margin-bottom:5px; border-bottom:1px solid #3b9cf7; position:relative;}
.Container-5 .dnntitle:before			 { content:""; width:11px; height:11px;	border-radius:50%;-moz-border-radius:50%;-webkit-border-radius:50%; background-color:#3b9cf7; position:absolute; bottom:-5px ; left:0;}
.Container-5 .contentmain1				 { padding:0px; }
.Container-5 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-6 							 { margin-bottom:5px; }
.Container-6 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px; border-bottom:1px solid #3b9cf7; margin-bottom:15px; }
.Container-6 .contentmain1				 { padding-right:5px; }
.Container-6 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-7 							 { margin-bottom:5px; }
.Container-7 .dnntitle					 { white-space:nowrap; text-align:left; padding:0px 0px 0px 15px; margin-bottom:10px; position:relative; z-index:1  ; border-left:2px solid #3b9cf7; }
.Container-7 .contentmain1				 { padding-right:5px;  position:relative; z-index:1 ; }
.Container-7 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }
.Container-7 .ico_7						 { position:absolute; bottom:20px ; right:20px; z-index:0; }
.Container-7 .c_footer					 { position:relative ; z-index:10;}	

.Container-8 							 { margin:30px 0 20px 0}
.Container-8 .dnntitle					 { white-space:nowrap; padding:0;  margin-bottom:10px; position:relative; text-align: left; }
.Container-8 .contentmain1				 {  }
.Container-8 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-9 							 { margin:0 0 5px;  }
.Container-9 .dnntitle					 { white-space:nowrap;   padding:0px 0 15px;  text-align:center; }
.Container-9 .contentmain1				 { }
.Container-9 .contentpane				 { padding:5px 0px 0px 0px; text-align:left; vertical-align:top; clear:both; }

.Container-10 							 { margin-bottom:5px; }
.Container-10 .dnntitle					 { white-space:nowrap; padding:0;  margin-bottom:10px; position:relative; z-index:1  ; text-align:center; }
.Container-10 .contentmain1				 {  }
.Container-10 .contentpane				 { padding:5px 0px 3px 0px; text-align:left; vertical-align:top; clear:both; }

.title1{font-size:28px; line-height:1.2; color:#FFF; font-family:"Open Sans", Raleway; white-space:normal; vertical-align:middle; font-weight:normal; padding:0px; margin:0px; text-transform:uppercase; }
.title1b{font-size:28px; line-height:1.2; color:#555; font-family:"Open Sans", Raleway; white-space:normal; vertical-align:middle; font-weight:normal; padding:0px; margin:0px; text-transform:uppercase; }
.title2{font-size:18px; line-height:1.2; color:#555; font-family: 'Open Sans', Raleway;  white-space:normal; vertical-align:middle; font-weight:bold; padding:0px; margin:0px; }
.title3{font-size:20px;line-height:1.2;color:#e5e5e5; white-space:normal; vertical-align:middle;  }
.title4{font-size:32px;line-height:1.2;color:#666; font-family:"Open Sans", Raleway; white-space:normal; vertical-align:middle; display:inline-block ; padding:7px 27px ; margin:auto; border:1px solid #e5e4e4; background-color:#FFF; position:relative; max-width:60%; z-index:2; text-transform:uppercase   }
*+html .title4 {display:inline;}
.title4:before,
.title4:after{ content:""; position:absolute; top:50%; left:100%; width:20%; height:1px; background:#3b9cf7; overflow:hidden; margin:0px 1px; }
.title4:after{ left:auto; right:100%; }
.title5{font-size:20px; line-height:1; color:#363839; white-space:normal; background-color:#FFF; padding:4px 15px 5px 0; display:inline-block }
*+html .title5 {display:inline;}
.title6{font-size:22px; color:#2e2e2e; white-space:normal; padding:0px 0px 10px; vertical-align:middle; border-bottom:1px solid #3b9cf7; display:block; text-align:left; margin-bottom:2px; }
.title7{font-size:28px;line-height:1.2;color:#2e2e2e; white-space:normal; vertical-align:middle;  }
.title8{font-size:14px;line-height:2;color:#CC3300; font-family: Raleway, 'Open Sans'; white-space:normal; font-weight:bold; vertical-align:middle; text-align:left; text-transform:uppercase; letter-spacing:2px; }
.title9{font-size:29px; line-height:1.2; color:#363839; white-space:normal; vertical-align:middle; font-weight:normal; padding:0px; margin:0px; }
.title10{font-size:29px;line-height:1.2;color:#3b9cf7; white-space:normal; vertical-align:middle;  }


















/*
     FILE ARCHIVED ON 22:24:53 Oct 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:00:43 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 820.007
  exclusion.robots: 0.114
  exclusion.robots.policy: 0.105
  RedisCDXSource: 1.659
  esindex: 0.009
  LoadShardBlock: 800.768 (3)
  PetaboxLoader3.resolve: 819.807 (3)
  PetaboxLoader3.datanode: 126.511 (4)
  load_resource: 150.47
*/