
/*
     FILE ARCHIVED ON 16:26:23 Nov 25, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 01:00:20 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 74.007
  exclusion.robots: 0.108
  exclusion.robots.policy: 0.093
  cdx.remote: 0.081
  esindex: 0.011
  LoadShardBlock: 44.614 (3)
  PetaboxLoader3.datanode: 55.833 (4)
  load_resource: 74.547
  PetaboxLoader3.resolve: 46.6
*/