.dnnHTMLSettings, .dnnMyWork, .dnnEditHtml{margin:2em auto;}
	.dnnFormItem input[type=checkbox], .dnnPageSettings .dnnFormItem input[type=radio]{width:auto;}
	.dnnFormItem .dnnHTMLSRadioButtons label, .dnnFormItem .dnnPSRadioButtons input, .dnnFormItem .dnnHTMLSRadioButtons label, .dnnFormItem .dnnHTMLSRadioButtons input{float:left;padding:0;width:2%;text-align:left;}
	.dnnFormItem .dnnHTMLSRadioButtons label{width:auto;padding:0 15px 0 6px;font-weight:normal}
	.dnnHTMLSRadioButtons br{display:none !important;font-size:0;line-height:0;border-collapse:collapse;}
/*
     FILE ARCHIVED ON 02:08:27 Oct 16, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:13:23 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 538.933
  exclusion.robots: 0.085
  exclusion.robots.policy: 0.073
  cdx.remote: 0.064
  esindex: 0.009
  LoadShardBlock: 506.189 (3)
  PetaboxLoader3.datanode: 519.31 (4)
  load_resource: 86.013
  PetaboxLoader3.resolve: 67.759
*/