
/*
     FILE ARCHIVED ON 22:01:14 Oct 15, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:13:24 Jun 08, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 321.094
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.056
  cdx.remote: 0.054
  esindex: 0.008
  LoadShardBlock: 298.364 (3)
  PetaboxLoader3.datanode: 335.026 (4)
  load_resource: 110.892
  PetaboxLoader3.resolve: 71.38
*/